<!-- 不蒜子统计 -->
<script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

{% if site.busuanzi.enable %}
  <div class="busuanzi-container">
    {% if site.busuanzi.site_uv %}
      <span id="busuanzi_value_site_uv"></span>
    {% endif %}
    
    {% if site.busuanzi.site_pv %}
      <span id="busuanzi_value_site_pv"></span>
    {% endif %}
    
    {% if site.busuanzi.page_pv %}
      <span id="busuanzi_value_page_pv"></span>
    {% endif %}
  </div>
{% endif %}
